.mail-fixed{
    position: fixed;
    bottom: 2%;
    right: 2%;
    animation: mail 2s infinite;
}



@keyframes mail{
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(-10deg);
    }
    100%{
        transform: rotate(0deg);
    }
}